In [2]:
import sklearn
import numpy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

fake_news= pd.read_csv(r'C:\Users\acer\Downloads\Fake.csv\Fake.csv')
true_news= pd.read_csv(r'C:\Users\acer\Downloads\True.csv\True.csv')

print(fake_news.head(10))
print(true_news.head(10))

                                               title  \
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...
5   Racist Alabama Cops Brutalize Black Boy While...
6   Fresh Off The Golf Course, Trump Lashes Out A...
7   Trump Said Some INSANELY Racist Stuff Inside ...
8   Former CIA Director Slams Trump Over UN Bully...
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...

                                                text subject  \
0  Donald Trump just couldn t wish all Americans ...    News
1  House Intelligence Committee Chairman Devin Nu...    News
2  On Friday, it was revealed that former Milwauk...    News
3  On Christmas day, Donald Trump announced that ...    News
4  Pope Francis used his annual Christmas Day mes...    News
5  The number of cases of cops brutalizing and ki...    News
6  Donald Trump spent a good portion of his day a...    News
7  In the wake of yet another court decision that...    News
8  Many people have raised the alarm regarding th...    News
9  Just when you might have thought we d get a br...    News

                date
0  December 31, 2017
1  December 31, 2017
2  December 30, 2017
3  December 29, 2017
4  December 25, 2017
5  December 25, 2017
6  December 23, 2017
7  December 23, 2017
8  December 22, 2017
9  December 21, 2017
                                               title  \
0  As U.S. budget fight looms, Republicans flip t...
1  U.S. military to accept transgender recruits o...
2  Senior U.S. Republican senator: 'Let Mr. Muell...
3  FBI Russia probe helped by Australian diplomat...
4  Trump wants Postal Service to charge 'much mor...
5  White House, Congress prepare for talks on spe...
6  Trump says Russia probe will be fair, but time...
7  Factbox: Trump on Twitter (Dec 29) - Approval ...
8         Trump on Twitter (Dec 28) - Global Warming
9  Alabama official to certify Senator-elect Jone...

                                                text       subject  \
0  WASHINGTON (Reuters) - The head of a conservat...  politicsNews
1  WASHINGTON (Reuters) - Transgender people will...  politicsNews
2  WASHINGTON (Reuters) - The special counsel inv...  politicsNews
3  WASHINGTON (Reuters) - Trump campaign adviser ...  politicsNews
4  SEATTLE/WASHINGTON (Reuters) - President Donal...  politicsNews
5  WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...  politicsNews
6  WEST PALM BEACH, Fla (Reuters) - President Don...  politicsNews
7  The following statements were posted to the ve...  politicsNews
8  The following statements were posted to the ve...  politicsNews
9  WASHINGTON (Reuters) - Alabama Secretary of St...  politicsNews

                 date
0  December 31, 2017
1  December 29, 2017
2  December 31, 2017
3  December 30, 2017
4  December 29, 2017
5  December 29, 2017
6  December 29, 2017
7  December 29, 2017
8  December 29, 2017
9  December 28, 2017

In [3]:
fake_news['subject'].value_counts()

subject
News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: count, dtype: int64

In [4]:
true_news['subject'].value_counts()

subject
politicsNews    11272
worldnews       10145
Name: count, dtype: int64

In [5]:
fake_news['class']=0
true_news['class']=1

In [6]:
fake_news.head(5)
true_news.head(5)

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [7]:
merge_d= pd.concat([fake_news,true_news],axis=0)
merge_d.head(5)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [8]:
df = merge_d.drop(["title","subject","date"], axis=1)
df.head(10)

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0
5  The number of cases of cops brutalizing and ki...      0
6  Donald Trump spent a good portion of his day a...      0
7  In the wake of yet another court decision that...      0
8  Many people have raised the alarm regarding th...      0
9  Just when you might have thought we d get a br...      0

In [9]:
df= df.sample(frac=1)
df.head(10)

                                                    text  class
21479  No hypocrisy here Director Martin Scorsese wel...      0
19532  DAR ES SALAAM (Reuters) - Tanzania s governmen...      1
2635   Republicans are apparently hell-bent on destro...      0
8713   Donald Trump practically got booed off the sta...      0
10374  Chris Christie knows how to create awkward pol...      0
17387                                                         0
15254  BEIRUT (Reuters) - The Syrian army and its all...      1
12761  An official within Democratic nominee Hillary ...      0
20118  In addition to be a disgusting criminal and an...      0
12958  GAZA (Reuters) - Palestinian Islamist group Ha...      1

In [10]:
import re
import string

def wordopt(text):
    text = text.lower()
    text = re.sub(r'\[.*?\]', '', text)
    text = re.sub(r'https?://\S+|www\.\S+', '', text)
    text = re.sub(r'<.*?>+', '', text)
    text = re.sub(r'[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub(r'\n', '', text)
    text = re.sub(r'\w*\d\w*', '', text)
    return text



df['text'] = df['text'].apply(wordopt)

df.head(10)

                                                    text  class
21479  no hypocrisy here director martin scorsese wel...      0
19532  dar es salaam reuters  tanzania s government h...      1
2635   republicans are apparently hellbent on destroy...      0
8713   donald trump practically got booed off the sta...      0
10374  chris christie knows how to create awkward pol...      0
17387                                                         0
15254  beirut reuters  the syrian army and its allies...      1
12761  an official within democratic nominee hillary ...      0
20118  in addition to be a disgusting criminal and an...      0
12958  gaza reuters  palestinian islamist group hamas...      1

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report
import pickle

X= df['text']
Y= df['class']
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.30)

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer

v = TfidfVectorizer()

xv_train = v.fit_transform(x_train)

xv_test = v.transform(x_test)

In [13]:
mode = LogisticRegression(max_iter=1000, solver='saga')
mode.fit(xv_train,y_train)
y_pred_dt = mode.predict(xv_test)
print("LogisticRegression accracy: ", mode.score(xv_test,y_test)*100)
print("LogisticRegression Report:\n", classification_report(y_test, y_pred_dt))

LogisticRegression accracy:  98.49294729027469
LogisticRegression Report:
               precision    recall  f1-score   support

           0       0.99      0.98      0.99      7091
           1       0.98      0.99      0.98      6379

    accuracy                           0.98     13470
   macro avg       0.98      0.98      0.98     13470
weighted avg       0.98      0.98      0.98     13470

In [14]:
dt_model = DecisionTreeClassifier()
dt_model.fit(xv_train,y_train)
y_pred = dt_model.predict(xv_test)
print("DecisionTreeClassifier accuracy: ", dt_model.score(xv_test,y_test)*100)
print("Decision Tree Classification Report:\n", classification_report(y_test, y_pred))

DecisionTreeClassifier accuracy:  99.54714179658501
Decision Tree Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      7091
           1       0.99      1.00      1.00      6379

    accuracy                           1.00     13470
   macro avg       1.00      1.00      1.00     13470
weighted avg       1.00      1.00      1.00     13470

In [15]:
import pickle

In [19]:
pickle.dump(v, open('vector.pkl','wb'))

In [21]:
pickle.dump(dt_model, open('model.pkl','wb'))

In [24]:
with open('vector.pkl', 'rb') as file:
    loaded_vectorizer = pickle.load(file)

with open('model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

# Define the text to be predicted
text = """Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as well as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Image"""

# Preprocess the text
text = wordopt(text)

# Transform the text using the loaded vectorizer
xv_text = loaded_vectorizer.transform([text])

# Predict using the loaded model
prediction = loaded_model.predict(xv_text)

# Print the prediction
print(prediction)

AttributeError: 'DecisionTreeClassifier' object has no attribute 'transform'